name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v4
    - name: Install build tools (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update -y
        sudo apt-get install -y build-essential

    - name: Install build tools (macOS)
      if: runner.os == 'macOS'
      run: |
        brew update
        brew install make || true
        echo "make version:"
        make --version

    - name: Install build tools (Windows)
      if: runner.os == 'Windows'
      run: |
        choco install mingw -y
        echo "C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin" >> $GITHUB_PATH
        echo "gcc version:"
        gcc --version
    - name: make
      run: make
    - name: Upload binaries
      uses: actions/upload-artifact@v4
      with:
        name: spinterpreter-${{ matrix.os }}
        path: bin/pglanguage*
